<div class="header p-row">
  <div>
    <img src="img/train2.png" alt="Train 2" style="float:right; height:60px;">
    <h4 class="title">IE43 Train 2: Instrument Status</h4>
  </div>
  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Prequote')">Prequote</button>
    <button class="tablinks" onclick="openTab(event, 'Technical')">Technical</button>
    <button class="tablinks" onclick="openTab(event, 'RFP')">RFP</button>
    <button class="tablinks" onclick="openTab(event, 'PO')">PO</button>
  </div>
</div>
<div class="body p-row" id="data-body">
  <div class="tabcontent" id="Prequote">
    <div id="hot-prequote">
    </div>
  </div>
  <div class="tabcontent" id="Technical">
    <div id="hot-technical">
      Crap2
    </div>
  </div>
  <div class="tabcontent" id="RFP">
    <div id="hot-RFP">Crap3
    </div>
  </div>
  <div class="tabcontent" id="PO">
    <div id="hot-PO">Crap4
    </div>
  </div>
</div>

<link rel="stylesheet" href="vendor/HOT-dist/handsontable.full.min.css" type="text/css" media="screen" />

<script src="vendor/material.js"></script>
<script src="vendor/HOT-dist/handsontable.full.min.js"></script>
<script src="js/Main-{{route}}.bundle.js"></script>
